/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/partials/_general-styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/partials/_general-styles.scss */
header {
  margin-top: 25px;
}
/* line 8, ../scss/partials/_general-styles.scss */
header h1 {
  text-align: center;
  font: 60px/1 Bangers, cursive;
  letter-spacing: 2px;
}

/* line 14, ../scss/partials/_general-styles.scss */
.main {
  width: 850px;
  margin: 50px auto 0;
  position: relative;
}

/* line 20, ../scss/partials/_general-styles.scss */
.row1, .row10, .row100, .row1000, .row10000 {
  width: 100%;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../scss/partials/_general-styles.scss */
.display-wrap {
  width: 400px;
  margin: 20px auto;
}
/* line 31, ../scss/partials/_general-styles.scss */
.display-wrap input[type='text'] {
  width: 100%;
  padding: 10px 5px 0;
  background-color: #aab8a7;
  border-radius: 10px;
  border: 2px ridge #888c89;
  color: #030804;
  text-align: center;
  font: 60px/1 "Press Start 2P", sans-serif;
}
/* line 42, ../scss/partials/_general-styles.scss */
.display-wrap input[type='text']:focus {
  outline: none;
  background-color: #c5cfc3;
}
/* line 48, ../scss/partials/_general-styles.scss */
.display-wrap .tool-tip {
  width: 100%;
  margin: 25px 0;
  padding: 10px 5px;
  border-radius: 10px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font: 18px/1.5 "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  background-color: #c5cfc3;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
/* line 63, ../scss/partials/_general-styles.scss */
.display-wrap .tool-tip:before, .display-wrap .tool-tip.warning:before {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: -19px;
  width: 0;
  height: 0;
  opacity: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c5cfc3;
  border-left: 10px solid transparent;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
/* line 79, ../scss/partials/_general-styles.scss */
.display-wrap .tool-tip.show-tip, .display-wrap .tool-tip:before, .display-wrap .tool-tip.warning:before {
  opacity: 1;
}
/* line 83, ../scss/partials/_general-styles.scss */
.display-wrap .tool-tip.show-tip {
  visibility: visible;
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
}
/* line 88, ../scss/partials/_general-styles.scss */
.display-wrap .tool-tip.warning {
  background-color: #ff7276;
}
/* line 91, ../scss/partials/_general-styles.scss */
.display-wrap .warning.tool-tip:before {
  border-bottom: 10px solid #ff7276;
}

/* line 100, ../scss/partials/_general-styles.scss */
.my-footer {
  padding: 1em;
  text-align: center;
  background-color: #369;
  background-color: #369;
  color: #fff;
}

/* line 10, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -30px;
}
/* line 18, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.wrapper .my-root-footer {
  height: 30px;
}

/* line 20, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.my-footer {
  clear: both;
  position: relative;
  height: 30px;
}

/* line 1, ../scss/partials/_abacus-styles.scss */
.bead {
  float: left;
  position: relative;
  margin-right: 4px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  -moz-transition: -moz-transform 600ms cubic-bezier(0.34, 0.21, 0.72, 1.14);
  -o-transition: -o-transform 600ms cubic-bezier(0.34, 0.21, 0.72, 1.14);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.34, 0.21, 0.72, 1.14);
  transition: transform 600ms cubic-bezier(0.34, 0.21, 0.72, 1.14);
}
/* line 4, ../scss/partials/_mixins.scss */
.bead:nth-child(1) {
  background-color: #ed796d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFED796D', endColorstr='#FFE73827');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzk2ZCIvPjxzdG9wIG9mZnNldD0iNTQlIiBzdG9wLWNvbG9yPSIjZjg1MDMyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTczODI3Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: radial-gradient(ellipse cover at center, #ed796d 0%, #f85032 54%, #e73827 100%);
  border: 1px solid rgba(220, 42, 24, 0.8);
}
/* line 4, ../scss/partials/_mixins.scss */
.bead:nth-child(2) {
  background-color: #ed796d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFED796D', endColorstr='#FFE73827');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzk2ZCIvPjxzdG9wIG9mZnNldD0iNTQlIiBzdG9wLWNvbG9yPSIjZjg1MDMyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTczODI3Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: radial-gradient(ellipse cover at center, #ed796d 0%, #f85032 54%, #e73827 100%);
  border: 1px solid rgba(220, 42, 24, 0.8);
}
/* line 4, ../scss/partials/_mixins.scss */
.bead:nth-child(3) {
  background-color: #ed796d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFED796D', endColorstr='#FFE73827');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzk2ZCIvPjxzdG9wIG9mZnNldD0iNTQlIiBzdG9wLWNvbG9yPSIjZjg1MDMyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTczODI3Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: radial-gradient(ellipse cover at center, #ed796d 0%, #f85032 54%, #e73827 100%);
  border: 1px solid rgba(220, 42, 24, 0.8);
}
/* line 4, ../scss/partials/_mixins.scss */
.bead:nth-child(4) {
  background-color: #ed796d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFED796D', endColorstr='#FFE73827');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzk2ZCIvPjxzdG9wIG9mZnNldD0iNTQlIiBzdG9wLWNvbG9yPSIjZjg1MDMyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTczODI3Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: radial-gradient(ellipse cover at center, #ed796d 0%, #f85032 54%, #e73827 100%);
  border: 1px solid rgba(220, 42, 24, 0.8);
}
/* line 4, ../scss/partials/_mixins.scss */
.bead:nth-child(5) {
  background-color: #ed796d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFED796D', endColorstr='#FFE73827');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzk2ZCIvPjxzdG9wIG9mZnNldD0iNTQlIiBzdG9wLWNvbG9yPSIjZjg1MDMyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTczODI3Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #ed796d 0%, #f85032 54%, #e73827 100%);
  background-image: radial-gradient(ellipse cover at center, #ed796d 0%, #f85032 54%, #e73827 100%);
  border: 1px solid rgba(220, 42, 24, 0.8);
}
/* line 14, ../scss/partials/_mixins.scss */
.bead:nth-child(6) {
  background-color: #4bb8f0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4BB8F0', endColorstr='#FF26558B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM0YmI4ZjAiLz48c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzNhOGJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NTU4YiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: radial-gradient(ellipse cover at center, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  border: 1px solid rgba(33, 73, 119, 0.8);
}
/* line 14, ../scss/partials/_mixins.scss */
.bead:nth-child(7) {
  background-color: #4bb8f0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4BB8F0', endColorstr='#FF26558B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM0YmI4ZjAiLz48c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzNhOGJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NTU4YiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: radial-gradient(ellipse cover at center, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  border: 1px solid rgba(33, 73, 119, 0.8);
}
/* line 14, ../scss/partials/_mixins.scss */
.bead:nth-child(8) {
  background-color: #4bb8f0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4BB8F0', endColorstr='#FF26558B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM0YmI4ZjAiLz48c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzNhOGJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NTU4YiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: radial-gradient(ellipse cover at center, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  border: 1px solid rgba(33, 73, 119, 0.8);
}
/* line 14, ../scss/partials/_mixins.scss */
.bead:nth-child(9) {
  background-color: #4bb8f0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4BB8F0', endColorstr='#FF26558B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM0YmI4ZjAiLz48c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzNhOGJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NTU4YiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: radial-gradient(ellipse cover at center, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  border: 1px solid rgba(33, 73, 119, 0.8);
}
/* line 14, ../scss/partials/_mixins.scss */
.bead:nth-child(10) {
  background-color: #4bb8f0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4BB8F0', endColorstr='#FF26558B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM0YmI4ZjAiLz48c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzNhOGJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2NTU4YiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  background-image: radial-gradient(ellipse cover at center, #4bb8f0 18%, #3a8bc2 52%, #26558b 100%);
  border: 1px solid rgba(33, 73, 119, 0.8);
}

/* line 14, ../scss/partials/_abacus-styles.scss */
.counted {
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
}

/* line 19, ../scss/partials/_abacus-styles.scss */
.rail {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 27px;
  z-index: -1;
  border-radius: 5px;
  background-color: #f0b7a1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF0B7A1', endColorstr='#FFBF6E4E');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwYjdhMSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGMzMzEwIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM3NTIyMDEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZjZlNGUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0b7a1), color-stop(50%, #8c3310), color-stop(51%, #752201), color-stop(100%, #bf6e4e));
  background-image: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
  background-image: -webkit-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
  background-image: linear-gradient(to bottom, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
}

/* line 32, ../scss/partials/_abacus-styles.scss */
.support-left, .support-right {
  width: 20px;
  height: 400px;
  position: absolute;
  background: url("../img/purty_wood.png") repeat-y;
  border-radius: 5px;
}

/* line 41, ../scss/partials/_abacus-styles.scss */
.support-left {
  top: 0;
  left: -20px;
}

/* line 47, ../scss/partials/_abacus-styles.scss */
.support-right {
  top: 0;
  right: -19px;
}
