.bead {
	float: left;
	position: relative;
	margin-right: 4px;
	border-radius: 50%;
	width: $bead-diameter;
	height: $bead-diameter;
	
	@include bead-colors;

	@include transition( transform 600ms cubic-bezier(0.34, 0.21, 0.72, 1.14) );
}

.counted {
	@include transform( translateX(260px) );
}


.rail {
	width: 100%;
	height: 4px;
	position: absolute;
	top: 27px;
	z-index: -1;
	border-radius: 5px;
	background-color: 
		rgb(240,183,161); // Old browsers
		@include filter-gradient(#f0b7a1, #bf6e4e, vertical); // IE6-9
		@include background-image(linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%));
}

%support {
	width: 20px;
	height: 400px;
	position: absolute;
	background: url("../img/purty_wood.png") repeat-y;

	border-radius: 5px;
}

.support-left {
	@extend %support;
	top: 0;
	left: -20px;
}

.support-right {
	@extend %support;
	top: 0;
	right: -19px;
}