* {
	@include box-sizing(border-box);
}

header {
	margin-top: 25px;

	h1 {
		text-align: center;
		font: 60px/1 Bangers, cursive;
		letter-spacing: 2px;
	}
}
.main {
	width: 850px;
	margin: 50px auto 0;
	position: relative;
}

.row1, .row10, .row100, .row1000, .row10000 {
	width: 100%;
	margin-top: 10px;
	position: relative;
	@include clearfix;
}

.display-wrap {
	width: 400px;
	margin: 20px auto;

	input[type='text'] {
		width: 100%;
		padding: 10px 5px 0;
		background-color: #aab8a7;
		border-radius: 10px;
		border: 2px ridge #888c89;
		
		color: #030804;
		text-align: center;
		font: 60px/1 "Press Start 2P", sans-serif;

		&:focus {
			outline: none;
			background-color: lighten(#aab8a7, 10%);
		}
	}

	.tool-tip {
		width: 100%;
		margin: 25px 0;
		padding: 10px 5px;
		border-radius: 10px;
		position: relative;
		visibility: hidden;
		opacity: 0;

		text-align: center;
		font: 18px/1.5 "Helvetica Neue", Helvetica, Tahoma, sans-serif;
		background-color: lighten(#aab8a7, 10%);
		@include single-transition( all, 0.7s, ease-out );


		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 48%;
			top: -19px;
			width: 0;
			height: 0;
			opacity: 0;
			border-top: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid lighten(#aab8a7, 10%);
			border-left: 10px solid transparent;
			@include single-transition( all, 0.7s, ease-out );
		}

		&.show-tip, &:before {
			opacity: 1;
		}

		&.show-tip {
			visibility: visible;
			@include transform ( translate(0, -5px) );
		}

		&.warning {
			background-color: $warning-color;

			&:before {
				@extend .tool-tip:before;
				border-bottom: 10px solid $warning-color;
			}
		}

	}
}

.my-footer {
	padding: 1em;
	text-align: center;
	background-color: $footer-background;
	@include contrasted($footer-background);
	
}
@include sticky-footer(30px, ".wrapper", ".my-root-footer", ".my-footer");
